/**
 * @name Custom Wallpaper
 * @version 1.0.0
 * @description A transparent theme to see your background image
 * @author TMUniversal
 * @authorId 237993001828352001
 * 
 * @website https://github.com/TMUniversal/BetterDiscord/tree/main/Themes/Wallpaper
 * @source https://raw.githubusercontent.com/TMUniversal/BetterDiscord/main/Themes/Wallpaper/css/source.css
 * @donate https://ko-fi.com/tmuniversal
 * @patreon https://www.patreon.com/tmuni
 */

@import url(https://raw.githubusercontent.com/TMUniversal/BetterDiscord/main/Themes/Wallpaper/css/source.css);

:root {
  --app-bg: url(https://i.imgur.com/3i1aFCx.jpg);
  --app-blur: 0px;
  --app-margin: 0px;
  --app-radius: 8px;
  /* --app-accent: #660033; */
  --app-accent: #00c9c7;
  --app-accent-alt: #00c9c7;
  --app-accent-image: none;
  --app-accent-rgb: 102, 0, 51;
  --app-accent-text: #000;
  --sidebar-color: rgba(0, 0, 0, 0.4);
  --sidebar-blur: 12px;
  --main-content-color: rgba(0, 0, 0, 0.2);
  --main-content-blur: 4px;
  --messages-color: rgba(0, 0, 0, 0.3);
  --messages-radius: var(--app-radius);
  --messages-padding: 8px;
  --mention-color: var(--app-accent-alt);
  --mention-rgb: var(--app-accent-rgb);
  --mention-alt: #5274e9;
  --notification-color: #fff;
  --textarea-color: 0, 0, 0;
  --textarea-text-color: #fff;
  --textarea-radius: 22px;
  --input-height: 36px;
  --input-radius: calc(var(--input-height) / 2);
  --card-color: rgba(0, 0, 0, 0.4);
  --card-color-hover: rgba(0, 0, 0, 0.5);
  --card-color-select: rgba(0, 0, 0, 0.7);
  --card-radius: var(--app-radius);
  --button-color: var(--app-accent);
  --button-action-color: #000;
  --button-text-color: var(--app-accent-text);
  --button-radius: var(--app-radius);
  --button-alt-color: var(--card-color);
  --popout-color: rgba(0, 0, 0, 0.55);
  --popout-blur: 5px;
  --popout-header-opacity: 0.3;
  --popout-header-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
  --popout-radius: var(--app-radius);
  --popout-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --nowplaying-color: 114, 137, 218;
  --streaming-color: 89, 54, 149;
  --spotify-color: 29, 185, 84;
  --interactive-normal: #aaa;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --channels-default: #aaa;
  --header-secondary: #dfdfdf;
  --background-primary: transparent;
  --background-modifier-hover: rgba(255, 255, 255, 0.075);
  --background-modifier-selected: rgba(255, 255, 255, 0.125);
  --channels-default: var(--interactive-normal);
  --text-muted: var(--interactive-normal);
  --transition-time: 250ms;
  --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
  --scrollbar-color: 0, 0, 0;
  --scrollbar-color-alt: 255, 255, 255;
  --scrollbar-opacity: 0.5;
  --scrollbar-opacity-hover: 0.7;
  --scrollbar-width: 10px;
  --color-blurple: #7289da;
  --link-colour: var(--app-accent-alt);
  --title-container-blur: 0px;
  /* --shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); */
  --shadow: 0;
  /* Discord */
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
}
